* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(300deg, #ced1d6, #bfc0c0);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
}

input {
  border-radius: 4px;
  border: none;
  padding: 1rem;
  font-family: inherit;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}
input:focus {
  outline: transparent;
}

.weather {
  text-align: center;
  font-size: 1.4rem;
}

.weather h2 {
  margin-bottom: 0;
}

.weather img {
  transform: scale(2);
}
