* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181a33;
}

header {
  background-color: #373b69;
  padding: 1.5rem;
  display: flex;

  justify-content: flex-end;
}
.search {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #22254b;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: transparent;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 2rem;
  overflow: hidden;
  position: relative;
}

.movie img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  color: #eee;
  letter-spacing: 1px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #181a33;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.movie-info span.green {
  color: rgb(30, 218, 30);
}

.movie-info span.orange {
  color: rgb(192, 128, 8);
}

.movie-info span.red {
  color: rgb(236, 76, 76);
}

.overview {
  position: absolute;
  background-color: #fff;
  padding: 2rem;
  max-height: 100%;
  overflow: hidden;
  transform: translateY(100%);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in;
}

.overview h4 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}
